@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*my variant*/

.loader {
    /*свг и/или анимация*/
    width: 100px;
    height: 100px;
    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
    border-radius: 50%;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 85px;
        height: 85px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    animation-delay: 300ms;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

