.tech {
    width: 50%;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;

}

.developer {
    &::first-letter {
        text-transform: uppercase;
    }
}


.techHeader {
    width: 50%;
}

.developerHeader {

}

.row {
    display: flex;
    justify-content: flex-start;
    max-width: 610px;
    padding: 12px 17px;
    & + & {
        border-top: 1px solid #E5E5E5;
    }
}

.rowHeader {
    display: flex;
    justify-content: flex-start;
    max-width: 610px;
    background-color: #E5E5E5;
    min-height: 36px;
    padding: 11px 7px 9px 17px;
    border-radius: 2px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;

    & > * {
        padding-right: 5px;
        margin-left: -2px;
    }
    & > *::first-letter {
        text-transform: uppercase;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}
.wrapper{
    min-height: 500px;
    justify-content: flex-start;
    position: relative;
}
.wrapperLoading{
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(1px);
    }
}