.pagination {
    display: flex;
   justify-content: space-between;
    align-items: center;
    max-width: 500px;

    padding-bottom: 35px;
}

.text1, .text2 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #0D0B0C;

}
.text1::first-letter {
    text-transform: uppercase;
}

.select{
    width:40px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ECEBEB;
    padding-left: 1px;
}
